/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */


/* ----------------------------------------------- */
/*                COLOR PALETTE                    */
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/*                GLOBAL COMPONENTS                */
/* ----------------------------------------------- */

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
} 

/* ----------------------------------------------- */
/*                     HEADINGS                    */
/* ----------------------------------------------- */

h1 {
  font-family: 'Montserrat';
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 400;
}

/* ----------------------------------------------- */
/*                 REUSABLE BLOCKS                 */
/* ----------------------------------------------- */

.portfolio-section:nth-child(2n) {
	background-color: #f4f4f4;
}

.section-container {
  margin: 0 auto;
  width: 320px;
}

.portfolio-heading-container {
	display: flex;
	justify-content: center;
}

.portfolio-heading {
	background-color: #31ace6;
	color: #fff;
  font-size: 1rem;
  padding: 3px;
	text-align: center;
	text-transform: uppercase;
}

.image-container {
	position: relative;
}

.overlay {
  background: rgba(156, 166, 197, 0.5);
  bottom: 0;
	left: 0;
  position: absolute;
	right: 0;
  top: 0;
}

.image {
  display: block;
	width: 100%;
}


/* ----------------------------------------------- */
/*                    HEADER                       */
/* ----------------------------------------------- */

.hero {
  align-items: center;
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./keyboard-mobile2.jpg); 
  background-position: center center;
  background-size: cover;
  display: flex;
  height: 32.5rem;
  justify-content: center;
  letter-spacing: 0.04%;
  width: 100%;
}

.profile-pic {
  border: 1.5px solid #fff;
  border-radius: 50%;
  height: 10rem;
  left: 4rem;
  position: relative;
  top: 12.5rem;
  width: 10rem;
  z-index: 1;
}

.nav-container {
  display: inline-flex;
  flex-direction: row;
  height: 2.5rem;
  left: 10rem;
  padding: 0.19rem;
  position: absolute;
  top: 3rem;
  width: 8.16rem;
}

.social-icon {
  height: auto;
  padding: 0.19rem;
  width: 3rem;
}

.hero-text {
  bottom: 7rem;
  color: #fff;
  height: 18.88rem;
  left: 1.5rem;
  position: absolute;
  width: 13.75rem;
}

.portfolio-name {  
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.04em;
  line-height: 1.13rem;
  padding-bottom: 0.8rem;
}

/* ----------------------------------------------- */
/*                SUMMARY SECTION                  */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/*                  TECH SECTION                   */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/*                FEATURED PROJECTS                */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/*                 OTHER PROJECTS                  */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/*                THOUGHTS SECTION                 */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/*                SKILLS SECTION                   */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/*               MORE INFO SECTION                 */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/*                     FOOTER                      */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/*                  MEDIA QUERIES                  */
/* ----------------------------------------------- */

@media (min-width: 768px) {
	.container {
    margin: 0 auto;
		width: 768px;
	}
}

@media only screen and (min-width: 1024px) {
  .hero {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./keyboard_desktop.jpg); 
    height: 42.56rem
  }
}