body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  width: 100%;
}

/* ----------------------------------------------- */
/*                COLOR PALETTE                    */
/* ----------------------------------------------- */

:root {
  --primary: #0078ae;
  --secondary: #00c4e7;
  --tertiary: #023852;
}

/* ----------------------------------------------- */
/*                     HEADINGS                    */
/* ----------------------------------------------- */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 600;
}

/* ----------------------------------------------- */
/*                 REUSABLE BLOCKS                 */
/* ----------------------------------------------- */

.portfolio-section:nth-child(even) {
  background-color: #f4f4f4;
}

.portfolio-heading-container {
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

.portfolio-heading {
  background-color: var(--primary);
  color: #fff;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
}

.portfolio-article {
  padding: 1rem 0;
}

/* ----------------------------------------------- */
/*                    HEADER                       */
/* ----------------------------------------------- */

.hero {
  align-items: center;
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./keyboard-mobile2.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  height: 32.5rem;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  position: relative;
}

.hero-contents {
  width: 100%;
  padding-left: auto;
  padding-right: auto;
}

.profile-pic {
  border: 1.5px solid #fff;
  border-radius: 50%;
  width: 10rem;
  position: absolute;
  bottom: -2rem;
  right: 5%;
  z-index: 1;
}

.nav-container {
  position: absolute;
  top: 8%;
  right: 5%;
}

.social-icon {
  height: auto;
  padding: 0.19rem;
  width: 3rem;
}

.hero-text {
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  float: left;
  padding-left: 5%;
}

.portfolio-name {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}

/* ----------------------------------------------- */
/*                SUMMARY SECTION                  */
/* ----------------------------------------------- */

.intro-paragraph {
  font-weight: 400;
  line-height: 1.81rem;
  padding: 3rem 0;
  margin: 0;
}

/* ----------------------------------------------- */
/*                  TECH SECTION                   */
/* ----------------------------------------------- */

.tech-paragraph {
  font-weight: 400;
  line-height: 1.81rem;
  margin: 0;
  padding: 0 0 5%;
  text-align: center;
}

/* ----------------------------------------------- */
/*                FEATURED PROJECTS                */
/* ----------------------------------------------- */

.articles-container {
  margin: 0 auto;
}

.image-container {
  position: relative;
  margin: 0 1.4rem;
}

.overlay {
  display: flex;
  justify-content: center;
  background-color: transparent;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.overlay:hover {
  /* Fallback color */
  background-color: #29292b;
  background-color: rgba(80, 73, 73, 0.301);
}

.project-image {
  display: block;
  width: 100%;
}

.portfolio-link {
  text-decoration: none;
  color: #fff;
}

.portfolio-sublink {
  color: var(--tertiary);
}

.project-heading {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: var(--tertiary);
}

.project-netlify {
  color: var(--tertiary);
}

.project-description {
  font-family: 'Roboto';
  padding: 0 1.5rem 2rem;
  font-weight: 400;
  color: #000;
}

.tag-container {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
}

.tech-tag {
  background: var(--secondary);
  padding: 0.3rem;
  margin-right: 0.3rem;
}

/* ----------------------------------------------- */
/*                 OTHER PROJECTS                  */
/* ----------------------------------------------- */

.portfolio-subheading {
  color: var(--primary);
  font-size: 1.2rem;
  margin-top: 2rem;
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
}

.other-project-link {
  color: #000;
}

.other-project-link:hover {
  text-decoration: underline;
  color: var(--primary);
}

.other-project-link em {
  text-decoration: none;
  color: var(--primary);
}

/* ----------------------------------------------- */
/*                THOUGHTS SECTION                 */
/* ----------------------------------------------- */

.main-thoughts-article {
  margin: 0;
  padding: 0 0 2rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ----------------------------------------------- */
/*                MORE THOUGHTS SECTION            */
/* ----------------------------------------------- */

.thoughts-article {
  padding: 0;
}

.thoughts-description {
  display: inline-block;
  padding: 1rem 1.5rem 3rem;
}

.thoughts-description em {
  color: var(--primary);
  font-style: normal;
  font-family: 'Roboto';
}

.thoughts-description a {
  color: #000;
}

.thoughts-text {
  font-size: 14px;
  margin: 0;
}

/* ----------------------------------------------- */
/*                SKILLS SECTION                   */
/* ----------------------------------------------- */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  align-items: stretch;
  justify-items: center;
  padding: 0 0 2rem;
  width: 272px;
  margin: 0 1.5rem 2rem;
  font-size: 14px;
}

.skills-heading {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: #023852;
}

.skills-container {
  width: 90px;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 5rem;
}

/* ----------------------------------------------- */
/*               MORE INFO SECTION                 */
/* ----------------------------------------------- */

.social-media-more {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 2rem;
}

.social-icon-more {
  filter: invert(42%) sepia(71%) saturate(6111%) hue-rotate(179deg)
    brightness(87%) contrast(101%);
  width: 4rem;
  height: auto;
  -webkit-filter: invert(42%) sepia(71%) saturate(6111%) hue-rotate(179deg)
    brightness(87%) contrast(101%);
}

/* ----------------------------------------------- */
/*                     FOOTER                      */
/* ----------------------------------------------- */

footer {
  width: 100%;
  background: #010d26;
  text-align: center;
}

.contact {
  height: 150px;
  padding: 10% 0;
  text-align: center;
}

.footer-subheading {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.contact-info {
  color: #fff;
  list-style: none;
  padding: 10px 0;
  text-align: center;
}

.contact-info a {
  color: #fff;
}

/* ----------------------------------------------- */
/*                  MEDIA QUERIES                  */
/* ----------------------------------------------- */

@media only screen and (min-width: 768px) {
  .hero-contents {
    width: 80%;
    padding-left: 0;
  }

  .hero-text {
    padding-left: 0;
    width: 25%;
  }

  .nav-container {
    right: 15%;
    top: 12%;
  }

  .profile-pic {
    right: 15%;
  }

  .container {
    margin: 0 auto;
    width: 30.25rem;
    padding: 2rem;
  }

  .articles-container {
    margin: 0 auto;
    width: 31.25rem;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    align-items: stretch;
    justify-items: center;
    padding: 0 0 3rem;
    width: 272px;
    margin: 0 1.5rem 2rem;
  }

  .social-media-more {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    justify-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  .hero {
    background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(./keyboard_desktop.jpg);
  }

  .nav-container {
    right: 20%;
  }

  .hero-text {
    padding-left: 0;
    width: 40%;
  }

  .portfolio-name {
    font-size: 18px;
  }

  .profile-pic {
    right: 20%;
  }

  .container {
    margin: 0 auto;
    width: 60%;
  }

  .articles-container {
    display: grid;
    margin: 0 auto;
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    grid-auto-rows: 1fr;
  }

  .main-thoughts-article {
    width: 90%;
    margin: auto;
  }

  .thoughts-article {
    width: 90%;
    margin: auto;
  }

  .skills-grid {
    width: 90%;
    margin: auto;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .main-thoughts-article {
    width: 60%;
    margin: auto;
  }
}

@media only screen and (min-width: 1920px) {
  .nav-container {
    right: 23%;
  }
  .profile-pic {
    right: 23%;
  }
  .portfolio-section {
    height: 25%;
  }
  .project-description,
  .main-thoughts-article,
  .thoughts-article {
    width: 50%;
    margin: auto;
  }
}
